In [18]:
import pandas as pd

### Задание 1

In [25]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
joined = ratings.merge(movies, on = 'movieId', how = 'left')
filtered_ratings = joined[joined.rating == 5.0]
grouped_ratings = filtered_ratings.groupby('title').count()[['rating']]
grouped_ratings.sort_values(by = 'rating', ascending = False).head(1)

                                  rating
title
Shawshank Redemption, The (1994)     153

### Задание 2

In [23]:
power = pd.read_csv('power.csv')
filtered_data = power[((power['country'] == 'Estonia') | (power['country'] == 'Latvia') | (power['country'] == 'Lithuania')) & (power['quantity'] >= 0) & ((power['category'] == 4) | (power['category'] == 20) | (power['category'] == 21)) & ((power['year'] >= 2005) & (power['year'] <= 2010))]

print('Суммарное потребление в странах Прибалтики: ', filtered_data['quantity'].sum())

Суммарное потребление в странах Прибалтики:  234254.0

### Задание 3

In [21]:
page_url = 'https://htmlweb.ru/html/alt-codes.htm'
table_df = pd.read_html(page_url, encoding = 'utf-8')[0]
table_df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Alt+1,☺,Alt+21,§,Alt+41,),Alt+61,=,Alt+81,Q,Alt+101,e,Alt+121,y
1,Alt+2,☻,Alt+22,▬,Alt+42,*,Alt+62,>,Alt+82,R,Alt+102,f,Alt+122,z
2,Alt+3,♥,Alt+23,↨,Alt+43,+,Alt+63,?,Alt+83,S,Alt+103,g,Alt+123,{
3,Alt+4,♦,Alt+24,↑,Alt+44,NaN,Alt+64,@,Alt+84,T,Alt+104,h,Alt+124,|
4,Alt+5,♣,Alt+25,↓,Alt+45,-,Alt+65,A,Alt+85,U,Alt+105,i,Alt+125,}